<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482132468605-fql4lsfbhpitr78mkif9o0de51mjornp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482132468605-fql4lsfbhpitr78mkif9o0de51mjornp</string>
	<key>API_KEY</key>
	<string>AIzaSyBo4jhKK6E44lT6RIisHedT-QqZfYR_x0U</string>
	<key>GCM_SENDER_ID</key>
	<string>482132468605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeShare</string>
	<key>PROJECT_ID</key>
	<string>usertest-bcc10</string>
	<key>STORAGE_BUCKET</key>
	<string>usertest-bcc10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482132468605:ios:0139a803b95e4f493e2214</string>
</dict>
</plist>